* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 18px;
    font-family: 'system-ui';
}
body {
    background-color:#c33d62;
}
h4 {
    color: rgb(10, 10, 10);
    
}

a:hover{
    background-color: #c33d62;
    padding: 10px 20px;
    border-radius: 10px;
 }

nav {
    padding: 10px;
    height: 60px;
    background-color: #e2e2e2;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.logo_nombre {
    display: flex;
    align-items: center;
}

img {
    width: 40px;
    padding: 10px;
    
}

.links-container {
    
    height: 70%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    height: 60%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(1, 7, 14);
}

nav a:hover {
    background-color: #161516;
   color: #e2e2e2;
}

.open-sidebar-button, .close-sidebar-button {
    display: none;
}
#sidebar-active {
    display: none;
}
.button {
    background-color: #c33d62;
    border-radius: 10px;
}

.button:hover {
    transition: all 0.4s ease;   /* se expande */
      background: #c33d62;
}

@media (max-width: 740px){
    header{
       flex-direction: column;
    }
    .links-container {
       
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        width: 300px;
        z-index: 10;
        background-color: rgb(15, 15, 15);
        transition: .3s ease-out;
    }
    .links-container a {
        color: #e2e2e2;
    }
    nav a:hover {
    background-color: #e5537c;
   color: #0e0d0d;
}
    nav a {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }
    
    .button{
        display: none;
    }
    img {
        position: fixed;
        top: 10;
        left: 0;
        padding: 10px;
        
    }
    nav h4 {
        display: none;
    }

    .open-sidebar-button, .close-sidebar-button {
        display: block;
        padding: 20px;
        cursor: pointer;
    }

    #sidebar-active:checked ~ .links-container{
        right: 0;
    }

   

     #sidebar-active:checked ~ #overlay{
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        background: url("/imagen/BuuFinal_538.webp") ;
        background-size: 100vh 100vh;
        background-repeat: no-repeat;
       
    }
     
     

     
    
}



